body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #b4ad9e;
}
a:hover {
    color: #898377;
}
header.navbar-light {
    background-color: fff;
}
.navbar-brand {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
}
.nav-item {
    text-transform: uppercase;
    margin-left: 50px;
}
.nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}
.nav-item a:hover::after {
    transform: scale(1);
}
.carousel-item img {
    height: 501px;
}
.carousel {
    margin-bottom: 50px;
}
.post-category, .link-more {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    font-weight: 300;
}
.post-title a {
    color: #626262;
    text-decoration: none;
}
.post-title a:hover {
    text-decoration: underline; 
}
p {
    line-height: 1.5rem;
}
h2, h3 {
    margin: 1rem 0;
    font-size: 30px;
}
.grid-posts {
    margin: 100px 0;
}
.grid-posts .card {
    border: none;
    margin-bottom: 100px;
    
}
.grid-posts .card-body {
    padding-left: 0;
    padding-right: 0;
    
}
.card img {
    border-radius: 0;
}
.load-more {
    padding: 1rem 2rem;
    border-color: #626262;
    border-radius: 0;
}
.load-more span {
    display: none;
}
.signup {
    background-color: #f0f0f0;
    padding: 70px 0;
}
.signup h3 {
    color: #333333;
}
.signup form {
    margin-top: 70px;
}
.signup .form-input {
    position: relative;
}
.signup .form-control {
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    background-color: transparent;
}
.signup .form-control:focus {
    box-shadow: none;
}
.form-input .btn {
    position: absolute;
    right: 0;
    top: -3px;
}
footer {
    background-color: #f0f0f0;
    padding: 40px 0;
    color: #000;
}
.footer-left a {
    color: #000;
    margin-right: 20px;
    text-decoration: none;
}
.footer-right a {
    color: #626262;
    margin-left: 20px;
    text-decoration: none;
}




@media only screen and (max-width: 575.98px) { 
    .footer-left {
        margin-bottom: 10px;
    }
 }


@media only screen and (max-width: 767.98px) { 
    .grid-posts {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .grid-posts .card {
        margin-bottom: 50px;
    }
    .signup {
        padding: 30px;
    }
 }


@media only screen and (max-width: 991.98px) { 
    header .nav-item {
        margin-left: 0;
    }
}


@media only screen and (max-width: 1199.98px) { 
    .carousel-item img {
        height: 100%;
    }
 }


@media only screen and (max-width: 1399.98px) { 

}
